{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "members/auth/login/fonts/icomoon/style.css" %}">
    <link rel="stylesheet" href="{% static "members/auth/login/css/owl.carousel.min.css" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "members/auth/login/css/bootstrap.min.css" %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static "members/auth/login/css/style.css" %}">
    <link rel="stylesheet" href="{% static "website/css/style.css" %}">
    <link rel="icon" href="{% static "icon.png" %}" type="image/x-icon">
    <title>Obtenir un nouveau mot de passe</title>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-wrap">
    {% include "navbar.html" %}
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3 class="text-black mb-4">Reintialiser votre mot de passe</h3>
                            <p class="mb-4">
                                Entrer votre email pour reintialiser votre mot de passe.
                            </p>
                        </div>
                        <form action="{% url "members:reset_password" %}" method="post">
                            {% csrf_token %}

                            <div class="form-group first">
                                <label for="email">Email</label>
                                <input type="email" class="form-control {% if errors.email %}is-invalid{% endif %}"
                                       id="email" name="email" value="{{ form_data.email }}" required/>

                                {% if errors.email %}
                                    <div class="invalid-feedback">
                                        {{ errors.email }}
                                    </div>
                                {% endif %}
                            </div>

                            <input type="submit" value="Reintialiser" class="btn btn-block btn-primary"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}

<script src="{% static "members/auth/login/js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "members/auth/login/js/popper.min.js" %}"></script>
<script src="{% static "members/auth/login/js/bootstrap.min.js" %}"></script>
<script src="{% static "members/auth/login/js/main.js" %}"></script>

</body>
</html>