{% load static %}
<section class="site-section border-bottom bg-light" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Our Services</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="{% static "website/images/flaticon-svg/svg/001-wallet.svg" %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Business Consulting</h3>
                <p>Bénéficiez de conseils d'experts pour optimiser vos stratégies d'affaires et atteindre vos objectifs de croissance.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="{% static "website/images/flaticon-svg/svg/006-credit-card.svg" %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Credit Card</h3>
                <p>Accédez à une carte de crédit avec des avantages exclusifs, une gestion simplifiée et une sécurité optimale pour vos transactions.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="{% static "website/images/flaticon-svg/svg/002-rich.svg" %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Income Monitoring</h3>
                <p>Suivez vos revenus en temps réel et prenez le contrôle de vos finances avec nos outils de surveillance avancés.</p>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="{% static "website/images/flaticon-svg/svg/003-notes.svg" %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Insurance Consulting</h3>
                <p>Obtenez des conseils personnalisés pour choisir les solutions d'assurance les mieux adaptées à vos besoins et protéger vos actifs.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="{% static "website/images/flaticon-svg/svg/004-cart.svg" %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Financial Investment</h3>
                <p>Faites fructifier votre capital grâce à nos solutions d'investissement sur mesure, adaptées à vos objectifs financiers à court et long terme.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="{% static "website/images/flaticon-svg/svg/005-megaphone.svg" %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Financial Management</h3>
                <p>Gérez vos finances efficacement avec nos outils et conseils spécialisés pour une gestion optimale de vos ressources financières.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>