{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "members/auth/login/fonts/icomoon/style.css" %}">
    <link rel="stylesheet" href="{% static "members/auth/login/css/owl.carousel.min.css" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "members/auth/login/css/bootstrap.min.css" %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static "members/auth/login/css/style.css" %}">
    <link rel="stylesheet" href="{% static "website/css/style.css" %}">
    <link rel="icon" href="{% static "icon.png" %}" type="image/x-icon">
    <title>Dashboard | VelliBank</title>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-wrap">
    {% include "accounts/partials/navbar.html" %}
</div>
<div class="content">
    <div class="container">
        {% if special_content and status == "visiteur" %}
            {% block content_invite %}
                {% include "accounts/partials/content_invite.html" %}
            {% endblock %}
        {% elif special_content and status == "bloque" %}
            {% block content_bloque %}
                {% include "accounts/partials/content_bloque.html" %}
            {% endblock %}
        {% else %}
            {% block content %}
                {% include "accounts/partials/content_membre.html" %}
            {% endblock %}
        {% endif %}
    </div>

</div>

{% include "footer.html" %}
</body>
</html>