<div id="transactions" class="tab-content active">
    <h3>Transactions par mois</h3>
    <p>Autorisées non facturées</p>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Montant</th>
            <th>Solde</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>10/09/2024</td>
            <td>Épicerie</td>
            <td>-45,00 $</td>
            <td>2 146,54 $</td>
        </tr>
        </tbody>
    </table>
</div>