{% load filter_format static %}

<link rel="stylesheet" href="{% static "accounts/content_membre/css/style.css" %}">
<div class="dashboard-grid-container">
    <!-- Account Section -->
    <div class="account-overview">
        <h2 class="section-title">Comptes</h2>
        <!-- Affichage du compte courant -->
        {% if compte_courant %}
            <div class="account-item">
                <div class="account-details">
                    <a href="{% url "accounts:compte" compte_courant.numero_compte %}"><h3
                            class="account-details-title">Compte courant</h3></a>
                    <p class="account-details-info">{{ compte_courant.numero_compte }}<br/>Montreal</p>
                </div>
                <div class="account-balance">
                    <p class="account-balance-amount">{{ compte_courant.solde|format_solde }} $</p>
                </div>
            </div>
        {% else %}
            <p>Vous n'avez pas de compte courant.</p>
        {% endif %}

        <!-- Affichage des comptes épargne -->
        {% if comptes_epargne %}
            {% for compte in comptes_epargne %}
                <a href="{% url "accounts:compte" compte.numero_compte %}">
                    <h3 class="account-details-title">Comptes d'épargne</h3></a>
                <div class="account-item">
                    <div class="account-details">
                        <p class="account-details-info">{{ compte.numero_compte }}<br/>Montreal</p>
                    </div>
                    <div class="account-balance">
                        <p class="account-balance-amount">{{ compte.solde|format_solde }} $</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas de compte épargne.</p>
        {% endif %}

        <!-- Total des soldes -->
        <div class="account-total-balance">
            <p>Total : {{ request.session.client_solde_total }} $ CA</p>
        </div>
    </div>


    <!-- Cards and Credit Section -->
    <div class="credit-overview">
        <h2 class="section-title">Cartes Credits</h2>
        <div class="account-item">
            <div class="account-details">
                <a href="{% url "accounts:carte" carte_credit.id %}"><h3 class="account-details-title">VelliBank {{ carte_credit.type_carte }}</h3></a>
                <p class="account-details-info">{{ carte_credit.numero_carte|format_carte_credit }}</p>
            </div>
            <div class="account-balance">
                <p class="account-balance-amount">{{ carte_credit.solde_disponible|format_solde }} $</p>
            </div>
        </div>
        {#        <div class="account-item">#}
        {#            <div class="account-details">#}
        {#                <h3 class="account-details-title">#}
        {#                    AccordD - Plan 002 5598 22** **** 3038#}
        {#                </h3>#}
        {#                <p class="account-details-info">#}
        {#                    ACCORD D CAISSE 815 10 TROIS-RIVIEREQC#}
        {#                </p>#}
        {#            </div>#}
        {#            <div class="account-balance">#}
        {#                <p class="account-balance-amount">4 748,17 $</p>#}
        {#            </div>#}
        {#        </div>#}
        <div class="account-total-balance">
            <p>Total : $ CA</p>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="action-sidebar">
        <button class="primary-action-button">Virer</button>
        <button class="primary-action-button">Payer</button>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item">Messages</li>
            <li class="sidebar-menu-item">Relevés et documents</li>
            <li class="sidebar-menu-item">Profil et préférences</li>
            <li class="sidebar-menu-item">Rendez-vous</li>
        </ul>
    </div>
</div>